<img src="https://jaison.info/images/projects/todotab/logo.png" alt="" class="logo">

<input 
  type="text" 
  class="todo-input" 
  placeholder="Your today's todo-list" 
  [(ngModel)]="todoTitle" 
  (keyup.enter)="addTodo()" >

  <!-- *ngFor="let todo of todos" -->
<div 
  class="todo-item"  
  *ngFor="let todo of todosFiltered()"
  @fade>
  <div class="todo-item-left">
    <input 
      type="checkbox" 
      v-model="todo.completed"
      [(ngModel)]="todo.completed" 
      >
    <div
       *ngIf="!todo.editing; else editingTodo" 
       class="todo-item-label"
       [ngClass]="{ 'completed' : todo.completed}" 

       (dblclick)="editTodo(todo)">
      {{ todo.title }}
    </div>
    <!-- <input
      *ngIf="todo.editing" 
      type="text" 
      class="todo-item-edit"
      [(ngModel)]="todo.title">
     -->
    <ng-template #editingTodo>
      <input 
      type="text" 
      class="todo-item-edit"
      [(ngModel)]="todo.title"
      (blur)="doneEdit(todo)"
      (keyup.enter)="doneEdit(todo)"
      (keyup.esc)="cancelEdit(todo)"
      autofocus>
    </ng-template>
    
  </div>
  <div class="remove-item" (click)="deleteTodo(todo.id)">
    &times;
  </div>
</div>
<div class="extra-container">
  <div><label> 
    <input 
      type="checkbox"
      (change)="checkAllTodos()"> Check All</label></div>
  <div>{{ remaining() }} left from list</div>
</div>

<div class="extra-container">
  <div>
    <button
      [ngClass]="{'active': filter === 'all'}"
      (click)="filter='all'">
      All
    </button>
    <button
      [ngClass]="{'active': filter === 'active'}"
      (click)="filter='active'">Active</button>
    <button
      [ngClass]="{'active': filter === 'completed'}"
      (click)="filter='completed'">Completed</button>
  </div>
  <div
  *ngIf="atLeastOneCompleted()">
    <button
    (click)="clearCompleted()">Clear Completed</button>
  </div>
</div>